* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    background-image: linear-gradient(200deg,
            hsl(240deg 76% 79%) 0%,
            hsl(228deg 94% 78%) 4%,
            hsl(219deg 100% 75%) 8%,
            hsl(210deg 100% 71%) 12%,
            hsl(203deg 100% 66%) 17%,
            hsl(196deg 100% 56%) 22%,
            hsl(193deg 100% 50%) 28%,
            hsl(191deg 100% 50%) 34%,
            hsl(190deg 100% 50%) 40%,
            hsl(188deg 100% 50%) 47%,
            hsl(187deg 100% 50%) 54%,
            hsl(186deg 100% 50%) 62%,
            hsl(185deg 100% 50%) 69%,
            hsl(182deg 100% 48%) 76%,
            hsl(178deg 100% 48%) 82%,
            hsl(174deg 100% 48%) 88%,
            hsl(170deg 100% 49%) 93%,
            hsl(166deg 100% 50%) 97%,
            hsl(162deg 100% 50%) 100%);
}

.container {
    max-width: 990px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 6px;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}

header hr {
    border: none;
    height: 3px;
    background-color: #3498db;
    margin: 20px 0;
    width: 80%;
    margin: 20px auto;
}

header h1 {
    padding: 60px 0;
    text-align: center;
}

section.address p {
    text-indent: 30px;
}


h2 {
    color: #00bcd4;
}

h3 {
    color: #3498db;
}

section {
    margin-bottom: 30px;
}

ul {
    margin-left: 30px;
}

.inernet div {
    display: flex;
    justify-content: space-evenly;
}

.inernet div span {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
}